@font-face {
    font-family: "young-serif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "outfit";
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "outfit-bold";
    src: url("../assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
}

:root {
    --font1: "young-serif", serif;
    --font2: "outfit", verdana; 
    --font3: "outfit-bold", verdana;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

main {
    background-color: white;
    font-family: var(--font2);
    max-width: 375px;
    margin: auto;
    color: hsl(24, 5%, 18%);
}

img {
    width: 100%;
}

section#content {
    padding: 30px;
}

h1 {
    font: normal 2em var(--font1);
    line-height: 1.1em;
}

section#content > p {
    padding: 20px 0;
}

section#content > h2 {
    font: normal 1.8em var(--font1);
    color: hsl(14, 45%, 36%);
    padding: 20px 0;
}

section#content ul, ol {
    padding-left: 25px;
}

section#content li {
    padding-bottom: 10px;
    padding-left: 15px; 
}

div.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 30px 50px 30px 30px;
}

div.preparation h2 {
    color: hsl(332, 51%, 32%);
    font-size: 1.25em;
    padding-bottom: 10px;
}

div.instructions {
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.instructions h2 {
    color: hsl(14, 45%, 36%);
    font: normal 1.8em var(--font1);
    margin-top: 20px;
    padding: 10px 0 20px;
}

div.nutrition h2 {
    color: hsl(14, 45%, 36%);
    font: normal 1.8em var(--font1);
    padding-top: 10px;
    padding-bottom: 20px;
}

div.nutrition p {
    padding-bottom: 15px;
    max-width: 300px;
}

div.nutrition table {
    width: 100%;
    border-collapse: collapse;
    color: hsl(24, 5%, 18%);
}

div.nutrition th, td {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

div.nutrition .last th {
    border-bottom: none;
}

div.nutrition .last td {
    border-bottom: none;
}

div.nutrition th {
    width: 50%;
    font-weight: normal;
    padding-left: 35px;
    text-align: left;
}

div.nutrition td {
    width: 50%;
    color: hsl(14, 45%, 36%);
    font-family: var(--font3);
    padding-left: 10px;
}

footer {
    color: hsl(24, 5%, 18%);
    font-family: var(--font2);
    font-size: 0.77em;
    padding: 20px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: hsl(24, 5%, 18%);
}

footer a:hover {
    color: black;
    text-decoration: underline;
}